*{ 
  margin: 0px; 
  padding:0px; 
  box-sizing: border-box;
}
body{
  font-family: 'Poppins';
  line-height: 1.5em;
  background-color:whitesmoke;
  
}
font-face { 
  font-family: 'Mogan'; 
  src: url('../webfonts/Mogan.otf')
}

main{
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
}

header {
  background: rgba(255,255,255,0.94);
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  display: table;
  padding: 3px 0 7px 0;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  z-index: 1000;
  max-width: 1024px;
  margin: 0 auto;
  height: 4em;
}

.logo {
  margin: 1em 0;
  right: 335px;
  text-align: center;
  top: -38px;
  text-align: center;
  margin: 0px;
  display: table-cell;
  width: 50%;
  vertical-align: middle;

}
.logo img{
  height: auto;
  width: 80px;
  line-height: 1
}

header nav {
  text-align: center;
  display: table-row;
  overflow: hidden;
}

header nav ul li{
  list-style: none;
  float: left;
}

header nav ul li a{
  text-decoration: none;
  padding: 15px 25px 15px 25px;
  display: inline-block;
  color: black;
}

header nav ul li a:hover{
  text-decoration: none;
  color:grey;
}

h1{
  padding: 30px; 
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 60px;
}

.parallax {
  background-image: url("../images/boke.jpg");
  height: 325px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.parallax img{
  margin-top: 30px;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  overflow: hidden;
}

main article{
  padding: 30px;
  height: auto;
}
main article p{
  text-align: justify;
  margin-bottom: 16px;
}

p.big{
  font-size: 1.1em;
  line-height: 1.5em;
}
.fa-star, .fa-thumbs-up, .fa-check{
  font-size: 28pt;
  display: block;
  margin-bottom: 30px;
}
.info-box{
  margin: 0px auto;
  padding: 60px 0 60px 0;
  text-align: center;
  width: 100%;
  color: white;
  background-color:black;
}
.info-box h2{
  margin-bottom: 30px;
}
#flex-p{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#flex-p p{
  padding: 30px;
  max-width: 300px;
}

/*Ejemplo Call to action*/
.call-to-action{
  max-width: 700px;
  margin: 30px auto;
  padding: 0 30px 0 30px;
  text-align: center;
}
p.big{
  font-size: 1.1em;
  line-height: 1.5em;
}
.call-to-action h2, .call-to-action p, .call-to-action button{
  margin-bottom: 20px;
}
button{
  padding: 15px 40px 15px 40px;
  background-color:white;
  font-size: 1em;
  border: 2px solid black;
  border-radius: 5px;
   -webkit-transition: background 1s linear;
  transition: background 0.5s linear;
  cursor: pointer;
  
}
button:hover{
  background-color: black;
  color: white;
}

.description-box{
  max-width: 1024px;
  margin: 0 auto;
  background-color: white;
}
.img-container {
  margin: 50px 0 50px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 30px;
}
.img-container img{
  border-radius: 10px;
}
.img-container img, p{
  width: 100%;
  padding-bottom: 10px;
}
.img-container p{
 text-align: justify;
}
.contactoSection, .blogSection, .serviciosSection, aside{
  margin-top: 65px;
  
}
.contactoSection h1, .blogSection h1, .serviciosSection h1{
  padding-top: 40px;
}
form{
  padding: 35px;
  padding-bottom: 30px;
  max-width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: whitesmoke;
  margin-bottom: 60px;
}
form h2{
  margin-bottom: 20px;
  text-align: center;
}
.control{
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  border: none; 
  color: black; 
  font-size: 12pt;
  resize: none;
  border-radius: 10px;
  border: 1px solid rgb(211, 200, 200);
}

.checkbox{
float: none;
}

form div{
  text-align: center;
  padding: 30px;
}
.boton{
  padding: 15px 40px 15px 40px;
  background-color:white;
  font-size: 1em;
  border: 2px solid black;
  border-radius: 5px;
   -webkit-transition: background 1s linear;
  transition: background 0.5s linear;
}

.boton:hover,.boton:active,.boton:focus {
  background-color: black;
  color: white;
  cursor: pointer;
}

.contactoinfo-box{
    margin: 0px auto;
    padding: 30px 0 30px 0;
    text-align: center;
    width: 100%;
}
.contactoinfo-box p{
  text-align: center;
}
.contactoinfo-box img{
  padding-bottom: 20px;
}

.contactoinfo-box a{
  text-decoration: none;
  color: black;
}

.contactoSection a:hover{
  color: grey;
}

table{
  caption-side: bottom;
  table-layout: auto; width: 100%;
  border-collapse: collapse;
  border-radius: 30px;
  margin-top: 20px;
  text-align: center; 
}
table caption{padding: 20px;}

td:first-child{
  background-color: silver;
}
tr:nth-child(even) {background: #fff}
tr:nth-child(odd) {background: #ccc}
th{
  background-color: black;
  padding: 10px;
  color: white;
  font-size: 14pt;
}

td { 
	padding: 30px;
}

.blogSection{
  max-width: 724px;
  float:left;
}

.blogSection article{
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 40px;
    border-bottom: 0.5px dotted grey;
  }

.blogSection h2{
  padding-bottom: 20px;
}

.blogSection  iframe{
  border-radius: 10px;
  
  max-width: 100%;
}

.blogSection article a{scroll-margin-top: 120px;}

.blogSection article div, p{
  text-align: center;
}

.licenciaCC{
  font-size: 8pt;
}
#audios{display: none;}

.contenedorAnimacion img {
  width: 20%;
	animation-duration: 5s;
	animation-name: logoAnimacion;
	animation-iteration-count: infinite;
  }
@keyframes logoAnimacion{
	from {
		-webkit-transform: rotate(0deg);
        transform: rotateY(0deg);
	}
  50%{
		-webkit-transform: rotate(180deg);
        transform: rotateY(180deg);
	} 
	to {
		-webkit-transform: rotate(360deg);
        transform: rotateY(360deg);
		}
}
.controlesVideoAudio{
  background-color: grey;
  padding: 15px;
  color: white;
  border-radius: 10px;
  width: 100%;
}
.controlesVideoAudio input{
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  color: black;
  cursor: pointer;
  display: inline-block;
  width: 11%;
  margin: 0 2px 0 2px;
  text-align: center;
}

.controlesVideoAudio input:hover{
  background-color:black;
  color: white;
}

.contenedorAnimacion{overflow: hidden;}
.contenedorAnimacion p{
  animation-duration: 3s;
  animation-name: slidein;
}
@keyframes logoAnimacion{
	from {
		-webkit-transform: rotate(0deg);
        transform: rotateY(0deg);
	}
  50%{
		-webkit-transform: rotate(180deg);
        transform: rotateY(180deg);
	} 
	to {
		-webkit-transform: rotate(360deg);
        transform: rotateY(360deg);
		}
}

video{
  max-width: 100%;
}
#lienzoCanvas{
  background:#BE1622;
  max-width: 100%;
}
#lienzo{
  border-radius: 30px;
  max-width: 100%;
}

aside{
  width: 300px;
  float: left;
  padding: 20px;
  }
  aside h4{
    color: black;
    margin-bottom: 20px;
    font-size: 20px;
}
  aside ul{
    padding-bottom: 30px;
  }   

  aside ul li a{
      text-decoration: none;
      color: black;
  }

  aside ul li a:hover{
      text-transform: uppercase;
      color: white;
  }
  aside ul li{
      list-style: none;
      margin-bottom: 16px;
  }
  

  aside li{
  padding: 10px ;
  background-color:white;
  font-size: 1em;
  border: 0.5px solid grey;
  border-radius: 5px;
  max-width: 100%;
   -webkit-transition: background 1s linear;
  transition: background 0.5s linear;
}
aside ul li:hover{
  background-color: black;
  color: white;
  text-transform: uppercase;
}
aside a{
  text-decoration: none;
}
aside button{
  text-align: left;
  padding: 10px ;
  background-color:white;
  font-size: 1em;
  border: 0.5px solid grey;
  border-radius: 5px;
  width: 100%;
  display: block;
  margin:20px 0px 20px 0px;
  cursor: pointer;
}


footer{
  width: 100%;
  clear: both;
  background-color:whitesmoke;
  
}
footer p{
 padding-top: 30px;
  text-align: center
}

footer a 
{
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 6px 0;
  }

footer a:hover 
{
  color: grey;
}


footer .fa-instagram,.fa-facebook-f, .fa-twitter, .fa-pinterest-p{
  font-size: 2em;
  display: block;
  padding: 10px;
  color:black
}
footer .fa-instagram:hover,.fa-facebook-f:hover, .fa-twitter:hover, .fa-pinterest-p:hover{
  color: grey;
}
footer img{
  padding:10px;
}

#btn-wa {
  font-size: 2em;
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: grey;
  
}
#btn-wa :hover{color: darkgreen;}


@media screen and (max-width: 700px){
  
  main{
    max-width: 100%;
    display:block;
  }
  section{
    max-width: 100%;
    display:block;
  }
  aside{
      width: 100%;
      display: block;
  }
  footer{
      width: 100%;
      display: block;
  }
}

@media screen and (max-width: 320px){
  
  main{
    max-width: 100%;
    display:block;
  }
  section{
    max-width: 100%;
    display:block;
  }
  aside{
    width: 100%;
    display: block;
  }
  footer{
      width: 100%;
      display: block;
  }
}

.contenedorCajas{
  position: relative;
  overflow: hidden;
}

  
  .caja{
  width: 180px;
  height: 180px;
  color: #FFF;
  text-align: center;
  line-height: 180px;
  margin: 15px;
  float: left;
  font-size: 18px;
  font-family: Arial;
  border-radius: 5%;
  }
  .caja1, .cajaA, .cajaB{
  background-color: #C0392B;
  }
  .caja2{
  background-color: #9B59B6;
  }
  .caja3{
  background-color: #2980B9;
  }
  .caja4{
  background-color: #3498DB;
  }
  .caja5{
  background-color: #17A589;
  }
  .caja6{
  background-color: #F1C40F;
  }
  .caja7{
  background-color: #E67E22;
  }
  .caja8{
  background-color: #95A5A6;
  }
  .caja9{
  background-color: #2C3E50;
  }
  .caja10{
  background-color: grey;
  }
  .caja11{
  background-color: black;
  }

  @keyframes colores {
    from{background: red;}
    to{background: blue;}
    }

    .animacion{
      animation: colores 3s ease;
  } 

  article .botoneraEfectos{
    display: flex;
    flex-wrap: wrap;
    font-size: 10pt;
  }
  article .botoneraEfectos button{
    padding: 10px 15px 10px 15px;
    background-color:white;
    font-size: 1em;
    border: 0.5px solid grey;
    border-radius: 5px;
    width: 30%;
    margin: 10px;
    overflow: visible;
    
    
  }
  article .botoneraEfectos button:hover{
    background-color: black;
    color: white;
  }

  #toTop {
    display: block;
    position: fixed;
    top: 85%;
    right: 10px;
    padding: 4px 4px 4px 4px;
    font-size: 3em; color: grey;
  }

  #toTop :hover{
    color: black;
  }
  .desktop{
  overflow: hidden;
  }

  .mobile{
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  }
  
  .mobile div{
    display: none;
  }
    
  .mobile button{
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0;
    text-indent: 200%;
    overflow: hidden;
    background: rgba(255,255,255);
    border: 1px solid #ddd;
    border-radius: 3px;
    background-size: 80%;
    width: 30px;
    height: 30px;
    outline: none;
    transition: all 400ms ease;
  }

.mobile .expanded{
  transform: rotate(90deg);
  background-color: transparent;
  border: 0;
}
     
  .mobile a{
    display: block;
  }
    

.mobile a{
  background: #eee;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #222;
  font-weight: bold;

}
  
.mobile a:hover, a:active, a:focus
{
  background: darken(#eee, 3%);
}

@media (max-width: 800px){
  .mobile{
    display: block;
  }
  .desktop{
    text-align: center;
    display:inline-block;
  }
  .desktop .logo{
    display:inline-block;
  }
}
  
 



